[submodule "vim/bundle/clang_complete"]
    path = vim/bundle/clang_complete
    url  = https://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/neobundle.vim"]
    path = vim/bundle/neobundle.vim
    url  = https://github.com/Shougo/neobundle.vim.git
[submodule "vim/bundle/neocomplcache"]
    path = vim/bundle/neocomplcache
    url  = https://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/neocomplcache-clang_complete"]
    path = vim/bundle/neocomplcache-clang_complete
    url  = https://github.com/Shougo/neocomplcache-clang_complete
[submodule "vim/bundle/unite.vim"]
    path = vim/bundle/unite.vim
    url  = https://github.com/Shougo/unite.vim
[submodule "vim/bundle/vim-coffee-script"]
    path = vim/bundle/vim-coffee-script
    url  = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vimproc"]
    path = vim/bundle/vimproc
    url  = https://github.com/Shougo/vimproc
[submodule "vim/bundle/vimshell"]
    path = vim/bundle/vimshell
    url  = https://github.com/Shougo/vimshell
[submodule "vim/bundle/vim-quickrun"]
    path = vim/bundle/vim-quickrun
    url  = https://github.com/thinca/vim-quickrun.git
